@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

@import "tailwindcss";

/* define css variables */
:root {
  --font-base: "Vazirmatn", sans-serif;
  --font-weight-base: 400;
  --line-height-base: 1.5;
  --color-text: oklch(27.8% 0.033 256.848);
  --color-bg: oklch(92% 0.003 264.542);
}

/* use css variables in body */
body {
  font-family: var(--font-base);
  color: var(--color-text);
  background-color: var(--color-bg);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
}
